#nav-1 {
    position: relative;
    border-radius: 2em;
    border: none;
    /* display: flex; */
    list-style: none;
    background-color: #57aca0;
    padding: 0px;
    margin: 0;
    overflow: hidden;
  }
  #nav-1 li {
    margin: 0px;
    /* display: inline; */
    float: left;
  }
  #nav-1 li a {
    position: relative;
    /* background-color: rgb(71, 134, 134); */
    /* font-size: 18px; */
    border: none;
    outline: none;
    color: #333;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
  }
  #nav-1 input[type=text] {
    padding: 6px;
    border: none;
    /* margin-top: 20px; */
    font-size: 17px;
    color: rgb(119, 29, 29);
  }
  #nav-1 .search-container button {
    padding: 6px 10px;
    margin-top: 24px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  #nav-1 button {
    padding: 12px 16px;
    /* margin-top: 20px; */
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
  }
  #nav-1 #prof {
      float: right;
  }
  #nav-1 .slide1,
  #nav-1 .slide2 {
    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  #map {
    height: 900px;
    width: 100%;
  }
  .slide1 {
    background-color: rgb(73, 138, 182);
    z-index: 2;
  }
 .slide2 {
    opacity: 0;
    background: #ddd;
    z-index: 1;
  }
  
  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    justify-content: center;
    align-items: center;
    background-color: #c0e4db;
    background-color: #0c0e0d;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
  } */