#nav-1 {
    position: relative;
    border-radius: 2em;
    border: none;
    /* display: flex; */
    list-style: none;
    background-color: #57aca0;
    padding: 0px;
    margin: 0;
    overflow: hidden;
  }
  #nav-1 li {
    margin: 0px;
    /* display: inline; */
    float: left;
  }
  #nav-1 li a {
    position: relative;
    /* background-color: rgb(71, 134, 134); */
    /* font-size: 18px; */
    border: none;
    outline: none;
    color: #333;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
  }
  #nav-1 input[type=text] {
    padding: 6px;
    border: none;
    /* margin-top: 20px; */
    font-size: 17px;
    color: rgb(119, 29, 29);
  }
  #nav-1 .search-container button {
    padding: 6px 10px;
    margin-top: 24px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  #nav-1 button {
    padding: 12px 16px;
    /* margin-top: 20px; */
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
  }
  #nav-1 #prof {
      float: right;
  }
  #nav-1 .slide1,
  #nav-1 .slide2 {
    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  .slide1 {
    background-color: rgb(73, 138, 182);
    z-index: 2;
  }
 .slide2 {
    opacity: 0;
    background: #ddd;
    z-index: 1;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    justify-content: center;
    align-items: center;
    background-color: #c0e4db;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
  }


.page_title{
  text-align: center;
  width: 100%;
}

#owner_account_message{
  background-color: #ff0000;
}

.content{
  width: 90%;
  margin:auto;
  margin-bottom: 50px;
  margin-top: 40px;
}

.list_display{
  background-color: white;
  border: 6px double #aaaaaa;
  border-radius: 10px;
  padding: 20px;
}

.list_display_tag{
  width: fit-content;
  background-color: #cccccc;
  border: 6px double #aaaaaa;
  border-radius: 6px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.list_display_tag h4{
  margin: 0px;
}

.centered_button_wrapper{
  text-align: center;
}

.centered_button{
  padding: 5px;
  background-color: #57aca0;
  border-radius: 6px;
  border-color: #aaaaaa;
}

.rating_listing{
  background-color: #eeeeee;
}

.rating_listing img{
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

#login_error{
  background-color: #ff645c;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
}

#login_form table{
  margin: auto;
}