#nav-1 {
    position: relative;
    border-radius: 2em;
    border: none;
    /* display: flex; */
    list-style: none;
    background-color: #57aca0;
    padding: 0px;
    margin: 0;
    overflow: hidden;
  }
  #nav-1 li {
    margin: 0px;
    /* display: inline; */
    float: left;
  }
  #nav-1 li a {
    position: relative;
    /* background-color: rgb(71, 134, 134); */
    /* font-size: 18px; */
    border: none;
    outline: none;
    color: #333;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
  }
  #nav-1 input[type=text] {
    padding: 6px;
    border: none;
    /* margin-top: 20px; */
    font-size: 17px;
    color: rgb(119, 29, 29);
  }
  #nav-1 .search-container button {
    padding: 6px 10px;
    margin-top: 24px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  #nav-1 button {
    padding: 12px 16px;
    /* margin-top: 20px; */
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
  }
  #nav-1 #prof {
      float: right;
  }
  #nav-1 .slide1,
  #nav-1 .slide2 {
    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  .slide1 {
    background-color: rgb(73, 138, 182);
    z-index: 2;
  }
 .slide2 {
    opacity: 0;
    background: #ddd;
    z-index: 1;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* justify-content: center;
    align-items: center; */
    background-color: #c0e4db;
    /* font-family: Montserrat, sans-serif; */
    /* line-height: 1.5; */
  }


.page_title{
  text-align: center;
  width: 100%;
}

#owner_account_message{
  background-color: #ff0000;
}

.content{
  width: 90%;
  margin:auto;
  margin-bottom: 50px;
  margin-top: 40px;
}

.list_display{
  background-color: white;
  border: 6px double #aaaaaa;
  border-radius: 10px;
  padding: 20px;
}

.list_display_tag{
  width: fit-content;
  background-color: #cccccc;
  border: 6px double #aaaaaa;
  border-radius: 6px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.list_display_tag h4{
  margin: 0px;
}

.centered_button_wrapper{
  text-align: center;
}

.centered_button{
  padding: 5px;
  background-color: #57aca0;
  border-radius: 6px;
  border-color: #aaaaaa;
}

.rating_listing{
  background-color: #eeeeee;
}

.rating_listing img{
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

#login_error{
  background-color: #ff645c;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
}

#login_form table{
  margin: auto;
}

.banner_image{
  width: 100%;
}

#venue_icon_bar{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#venue_icon_bar a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

#venue_rating_bar{
  text-align: center;
}

.star_score{
  width: fit-content;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.display_left{
  width: 45%;
  float: left;
}

.display_right{
  width: 45%;
  float: right;
}

/* MAP STUFF */
#map-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#map-container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

#map {
  position: absolute;
  left: 22em;
  top: 82.5px;
  right: 0;
  bottom: 0;
}

#locations-panel {
  position: absolute;
  left: 0;
  width: 22em;
  height: 720px;
  top: 5px;
  bottom: 0;
  overflow-y: auto;
  background: white;
  /* padding: 0.5em; */
  box-sizing: border-box;
}

@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    bottom: 50%;
  }

  #locations-panel {
    top: 50%;
    right: 0;
    width: unset;
  }
}

#locations-panel-list > header {
  padding: 1.4em 1.4em 0 1.4em;
}

#locations-panel-list h1.search-title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list h1.search-title > img {
  vertical-align: bottom;
  margin-top: -1em;
}

#locations-panel-list .search-input {
  width: 100%;
  margin-top: 0.8em;
  position: relative;
}

#locations-panel-list .search-input input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  height: 2.2em;
  box-sizing: border-box;
  padding: 0 2.5em 0 1em;
  font-size: 1em;
}

#locations-panel-list .search-input-overlay {
  position: absolute;
}

#locations-panel-list .search-input-overlay.search {
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 2.4em;
}

#locations-panel-list .search-input-overlay.search button {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  color: black;
  background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
  margin-top: 0.05em;
  vertical-align: top;
}

#locations-panel-list .section-name {
  font-weight: 500;
  font-size: 0.9em;
  margin: 1.8em 0 1em 1.5em;
}

#locations-panel-list .location-result {
  position: relative;
  padding: 0.8em 3.5em 0.8em 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  outline: 2px solid #4285f4;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
  text-align: left;
}

#locations-panel-list .location-result h2.name {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#hometomap-button {
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  display: block;
  width: 200px;
}

.featured-events {
  border: 1px solid rgb(1, 59, 63);
  display: block;
  margin: 50px;
  background-color: rgba(240, 230, 140, 0.644);
  border-radius: 1em;
}

.featured-events .event {
  border-radius: 2em;
  background-color: #57aca19f;
  padding: 5px;
  margin: 5px;
}