<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
        {% block title_block %}
            VenYou
        {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ICON LIBRARY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- CSS AND JS FOR DJANGO -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
        
        

        <!-- CSS AND JS IMPORTS FOR VSCODE TESTING -->
        <!-- <link rel="stylesheet" href="base.css">
        <script src="jquery-3.3.1.min.js"></script>
        <script src="test-jquery.js"></script>
        <script src="base.js"></script> -->

        <ul id="nav-1"> 
            <!--
            <li class="slide1"></li>         
            <li class="slide2"></li>-->
            
            <li><button type="button"><a href="{% url 'venyou_app:home' %}" class="fa fa-home fa-4x"></a></button></li>

            <li><a class="title">VenYou</a></li>


            {% if user.is_authenticated %}
                <div id="login_box">
                    Logged in as {{ user.username }} <br>
                    <a href="{% url 'venyou_app:logout' %}">Logout</a>
                </div>
                {% if user_profile.picture %}
                    <li id="prof"><a href="{% url 'venyou_app:myaccount' %}" ><img id="profile_pic" src="{{ user_profile.picture.url }}" /></a></li>
                {% else %}
                <li id="prof"><button type="button"><a href="{% url 'venyou_app:myaccount' %}" class="fa fa-user fa-4x"></a></button></li>
                {% endif %}
            {% else %}
                <div id="login_box">
                    <a href="{% url 'venyou_app:login' %}">Login</a><br>
                    Or
                    <a href="{% url 'venyou_app:create_account' %}">Create an Account</a>
                </div>
                <li id="prof"><button type="button"><a href="{% url 'venyou_app:myaccount' %}" class="fa fa-user fa-4x"></a></button></li>
            {% endif %}
            

            <!-- SEARCH BAR -->
            <li class="search-container">
                <form action= "{% url 'venyou_app:search' %}" method="get">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>

    
        </ul>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </head>

    <body>
        <div>
        {% block body_block %}
        Body.
        {% endblock %}
        </div>
    </body>
</html>