{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    VenYou - Home
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <h1 class="page_title">VenYou</h1> -->

    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'venyou_app:logout' %}">Logout</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'venyou_app:login' %}">Login</a>
        Or
        <a href="{% url 'venyou_app:create_account' %}">Create an Account</a>
    </div>
    {% endif %}

    <center>
    <div class="slideshow">
        <div class="w3-content w3-section" id="slide-box">
            {% for venue in venues %}
            <a class="slideHeading">{{venue.name}}</a>
            <img class="mySlides" src="{{MEDIA_URL}}{{venue.name_slug}}.jpg">              
            <a href="{% url 'venyou_app:venue_page' venue.name_slug %}" class="w3-button w3-white w3-border-red w3-large" id="find">See this venue</a>
            {% endfor %}
        </div>
    </div>
    </center>
    
   
    <a href="{% url 'venyou_app:map' %}" class="w3-button w3-round-xxlarge w3-khaki" id="hometomap-button"><b>Find venues near me</b></a>   

    
    <div id="event-list">
    {% if events %}
        <h1>Featured Events</h1>
        {% for event in events %}
        <ul>
            <a href="{% url 'venyou_app:venue_page' event.venue.name_slug %}">
            <li>
                <img src="{{MEDIA_URL}}{{event.venue.name_slug}}.jpg">
                <h3>{{event.name}}</h3>
                <p>Date: {{event.date}}</p>
                <p>{{event.description}}</p>
                <a href="{{ event.ticket_link }}" class="w3-button w3-small w3-white" id="getTickets">Get tickets</a>
            </li>
            </a>
        </ul>
        {% endfor %}
    {% else %}
    {% endif %}
    </div>

    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}