{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    VenYou - Home
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <h1 class="page_title">VenYou</h1>

    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'venyou_app:logout' %}">Logout</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'venyou_app:login' %}">Login</a>
        Or
        <a href="{% url 'venyou_app:create_account' %}">Create an Account</a>
    </div>
    {% endif %}

    <div class="w3-content w3-section" id="slide-box" style="max-width:800px">
        <!-- {% for venue in venues %}
            <img class="mySlides" src="{{ venue.banner_picture }}">
        {% endfor %} -->
        <img class="mySlides" src="{{ MEDIA_URL }}subclub.jpg">
        <img class="mySlides" src="{{ MEDIA_URL }}berkeley.jpg">
    </div>
   
    <!-- <button id="button-hometomap" role="button">Find venues near me</button> -->
    <a href="{% url 'venyou_app:map' %}" class="w3-button w3-round-xxlarge w3-khaki" id="hometomap-button">Find venues near me</a>   

    <div class="featured-events"></div>
    {% if events %}
    <center>
        <h2>Featured Events</h2>
    </center>
        {% for event in events %}
            <li class="event"><a href="{ event.ticket_link }">{{ event.name }}</a></li>
        {% endfor %}
    </div>
    {% else %}
        No events yet
    {% endif %}

    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}