{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    VenYou - Home
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <h1 class="page_title">VenYou</h1> -->

    <center>
    <div class="slideshow">
        <h1 id="venue-heading"><b>Featured Venues</b></h1>
        <br>
        <br>
        <hr>
        <div class="w3-content w3-section" id="slide-box">
            {% if venues %}
                {% for venue in venues %}
                <a class="slideHeading" href="{% url 'venyou_app:venue_page' venue.name_slug %}"><h2><b>{{venue.name}}</b></h2></a>
                {% if venue.banner_picture %}
                <img class="mySlides" src="{{ venue.banner_picture.url }}">
                {% else %}
                <img class="mySlides" alt="Image of venue" >
                {% endif %}
                <a href="{% url 'venyou_app:venue_page' venue.name_slug %}" class="w3-button w3-white w3-border-red w3-large" id="find">See this venue</a>
                {% endfor %}
            {% else %}
                <strong>There are no venues yet. <a href="{% url 'venyou_app:login' %}">Login</a> or <a href="{% url 'venyou_app:create_account' %}">Create an Account</a> and add one.</strong>
            {% endif %}
        </div>
    </div>
    </center>
    
   
    <a href="{% url 'venyou_app:map' %}" class="w3-button w3-round-xxlarge w3-khaki" id="hometomap-button"><b>Find venues near me</b></a>   

    
    <div id="event-list">
    {% if events %}
        <h1><b>Featured Events</b></h1>
        <hr>
        {% for event in events %}
        <ul id="event_list_home">
            <a href="{% url 'venyou_app:venue_page' event.venue.name_slug %}">
            <li>
                <h3>{{event.name}} at {{event.venue}}</h3>
                <p>Date: {{event.date}}</p>
                <p>{{event.description}}</p>
                <a href="{{ event.ticket_link }}" class="w3-button w3-small w3-white" id="getTickets">Get tickets</a>
            </li>
            </a>
        </ul>
        {% endfor %}
    {% else %}
    {% endif %}
    </div>

    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}