{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    VenYou - Login
{% endblock %}

{% block body_block %}


    <div class="content" >
        <div class="list_display_tag"><h4>Login</h4></div>
        <div class="list_display" >

                    
            {% if error %}
            <div id="login_error">{{ error }}</div>
            {% endif %}

            <form id="login_form" method="post" action="{% url 'venyou_app:login' %}" >
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="username" value="" size="50" /></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" value="" size="50" /></td>
                    </tr>
                </table>
                <div class="centered_button_wrapper"><input class="centered_button" type="submit" value="Log In" />
            </form>
            <div>
                Don't have an account?
                <br>
                <a href="{% url 'venyou_app:create_account' %}">Create an Account</a>
            </div>
        </div>
    </div>
{% endblock %}