{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    VenYou - Login
{% endblock %}

{% block body_block %}
    Login
    <form id="login_form" method="post" action="{% url 'venyou_app:login' %}" >
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
{% endblock %}