{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    VenYou - Browse
{% endblock %}

{% block body_block %}
<div class="content">
    <div class="list_display_tag">Browse Venues</div>
    <div class="list_display">
        {% if venues %}
            <ul>
            {% for venue in venues %}
                <li>
                    <a href="{% url 'venyou_app:venue_page' venue.name_slug %}">{{ venue.name }}</a>

                </li>

            {% endfor %}
            </ul>

        {% else %}
        <strong>There are currently no venues.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}