{% extends 'venyou_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    {% if venue %}

        <div class="content">
            <img class="banner_image" alt="Image of venue" src=""/>

            <h1 class="page_title"> {{ venue.name }}</h1>

            <div id="venue_rating_bar">
                {% if sr.has_been_rated %}

                <div class="star_score">
                    Hygiene:
                    {% for i in sr.st_hg_f %}
                        <a class="fa fa-star" ></a>
                    {% endfor %}
                    {% for i in sr.st_hg_h %}
                        <a class="fa fa-star-half-o" ></a>
                    {% endfor %}
                    {% for i in sr.st_hg_e %}
                        <a class="fa fa-star-o" ></a>
                    {% endfor %}
                </div>

                <div class="star_score">
                    Vibe:
                    {% for i in sr.st_vb_f %}
                        <a class="fa fa-star" ></a>
                    {% endfor %}
                    {% for i in sr.st_vb_h %}
                        <a class="fa fa-star-half-o" ></a>
                    {% endfor %}
                    {% for i in sr.st_vb_e %}
                        <a class="fa fa-star-o" ></a>
                    {% endfor %}
                </div>

                <div class="star_score">
                    Safety:
                    {% for i in sr.st_sf_f %}
                        <a class="fa fa-star" ></a>
                    {% endfor %}
                    {% for i in sr.st_sf_h %}
                        <a class="fa fa-star-half-o" ></a>
                    {% endfor %}
                    {% for i in sr.st_sf_e %}
                        <a class="fa fa-star-o" ></a>
                    {% endfor %}
                </div>

                {% else %}
                    <strong>There are no ratings for this venue yet.</strong>
                {% endif %}

            </div>

            <div id="venue_icon_bar">
                <a class="fa fa-external-link fa-4x" href="#"></a>
                <a class="fa fa-map-marker fa-4x" href="{% url 'venyou_app:map' %}"></a>
            </div>

            <div>
                <div class="display_left list_display" >
                    <b>Events:</b>
                    <ul>
                    {% if events %}

                        {% for event in events %}
                        <li>Event at {{event.date }} hosted by {{ event.organiser }}</li>
                        {% endfor %}

                    {% else %}
                        <strong>At the moment there are no events for this venue.</strong>
                    {% endif %}
                    </ul>
                </div>
                <div class="display_right list_display">
                    <b>Reviews:</b>
                    <ul>
                    {% if ratings %}
                    
                        {% for rating in ratings %}
                        <li>Rating by {{ rating.writer.user.username }} on {{ rating.date }}</li>
                        {% endfor %}
                    
                    {% else %}
                        <strong>Be the first to rate this venue.</strong>
                    {% endif %}
                    </ul>

                    <form action="{% url 'venyou_app:rate' venue.name_slug %}">
                    <div class="centered_button_wrapper" >
                        <input class="centered_button" type="submit" value="Write a new rating for this Venue" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <strong>Sorry, this venue does not exist.</strong>
    {% endif %}
{% endblock %}